.action-wrapper {
    display: flex;
    justify-content: end;

    margin-top: 3rem;

    & button {
        display: flex;
        align-items: center;
        gap: .75rem;
        padding: .875rem 1.25rem;

        background-color: var(--brand-dark);
        border: none;
        border-radius: .5rem;
        
        color: var(--text-heading);
        font: var(--body-md);
        font-weight: 600;
        
        &:hover,
        &:focus-within {
            background-color: var(--brand-light);
        }
    }
}