input, 
textarea,
select {
    appearance: none;
    width: 100%;
    background-color: var(--input-base);

    border-radius: .5rem;
    border: 2px solid transparent;
    outline: solid 1px var(--input-stroke);

    padding: .813rem 1rem;

    font: var(--body-md);
    color: var(--text-heading);
}

input,
textarea {
    &:focus-within {
        outline: solid 1px var(--brand-light);
    }
}

label {
    font: var(--body-sm);
    color: var(--text-body);

    display: block;
    margin-bottom: .75rem;
}

#customization .input-wrapper + .input-wrapper,
#switch,
.uploadarea-wrapper {
    margin-top: .75rem;
}