.radio-wrapper {
    gap: .25rem;
    border-radius: .5rem;
}

.radio-inner {
    border-radius: .25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    gap: .5rem;
    position: relative;
    padding: auto 1.125rem;

    & label {
        margin-top: .6rem;
        color: var(--text-body);
    }

    & .checked-img {
        position:absolute;
        width: 0;
    }

    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:has(:checked) {
        

        label {
            color: var(--text-heading);
            font-weight: 600;
        }

        .checked-img {
            position: relative;
            width: auto;
        }

        .unchecked-img {
            position:absolute;
            width: 0;
        }
    }
}

.type-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border: 4px solid transparent;
    outline: 1px solid var(--input-stroke);
    background-color: var(--input-base);

    & :has(:checked) {
        background-color: var(--shape-button);
    }
}

.colors-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));

    .colors {
        & input {
            content: '';
            height: 1.75rem;
            width: 1.75rem;
            border: .5rem solid var(--shape-button);
            border-radius: 100%;
            position: relative;
        }
        
        & input:hover,
        & input:focus-within {
            height: 1.75rem;
            width: 1.75rem;
            border: .5rem solid var(--shape-hover);
            border-radius: 100%;
        }
        
        &:has(:checked) {
            input[type="radio"] {
                outline: 2px solid var(--brand-light);
            }
        }
    }

    .blue {
        input {
            background-color: var(--brand-light);
        }
    }

    .navy {
        input {
            background-color: var(--navy);
        }
    }

    .purple {
        input {
            background-color: var(--purple);
        }
    }

    .fuschia {
        input {
            background-color: var(--fuschia);
        }
    }

    .pink {
        input {
            background-color: var(--pink);
        }
    }

    .red {
        input {
            background-color: var(--danger);
        }
    }

    .orange {
        input {
            background-color: var(--orange);
        }
    }

    .yellow {
        input {
            background-color: var(--yellow);
        }
    }

    .lime {
        input {
            background-color: var(--lime);
        }
    }

    .green {
        input {
            background-color: var(--green);
        }
    }

    .cyan {
        input {
            background-color: var(--cyan);
        }
    }
}

.themes-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));

    gap: .5rem;
    background: none;
    
    height: auto;

    .themes {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: auto;
        
        background-color: var(--shape-button);
        border: 1px solid var(--input-stroke);
        
        border-radius: 1rem;
        
        position: relative;
        
        & input,
        & input:focus,
        & input:hover {
            all: unset;
            position: absolute;
            inset: 0;
        }

        &:hover,
        &:focus-within {
            background-color: var(--shape-hover);
        }

        input {
            z-index: 2;
        }

        img {
            width: 16rem;
            height: auto;
            padding: .4rem .4rem 0 .4rem;

            border-radius: .75rem;
            filter: none;
        }

        & label {
            text-align: center;
        }

        &:has(:checked) {
            outline: 2px solid var(--brand-light);
        }

    }
}
