#switch {
    position: relative;
    width: 11rem;

    .switch-btn {
        width: fit-content;
    }

    & button {
        width: 1.5rem;
        height: 1.5rem;
        border: 0;
        border-radius: 50%;
        background: var(--input-stroke);

        position: absolute;
        z-index: 1;
        top: 65%;
        left: 3%;
        transform: translateY(-45%);
        animation: slide-back 0.3s;
    }

    & span {
        display: block;
        width: 4rem;
        height: 2rem;
        background: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 9999px;
    }

    & p {
        position: absolute;
        font: var(--body-sm);
        color:  var(--text-heading);
        
        top: 50%;
        left: 35%;
        padding-left: .75rem;
    }
}

.light {
    & #switch button {
        animation: slide-in 0.3s forwards;
        background-color: var(--text-heading);
    }

    & #switch span {
        background-color: var(--brand-light);
    }
}

@keyframes slide-in {
    from {
        left: 3%;
    }

    to {
        left: 20%;
    }
}

@keyframes slide-back {
    from {
        left: 20%;
    }
    to {
        left: 3%;
    }
}

