#app {
    display: grid;
    grid-template-columns: 25% auto ;
    gap: 1.25rem;

    height: 100vh;
    overflow: hidden;

    padding: 1.25rem;
    background-color: var(--shape-background);

    & aside, main {
        border-radius: .75rem;
    }
}

aside {
    background-image: url(/assets/Background.png);
    background-size: cover;

    & header {
        padding: 2rem;

        & img {
            max-height: 3rem;
        }

        & h1 {
            font: var(--logo);
            color: #FF598B;
            margin: 1rem auto .25rem;
        }

        & p {
            font: var(--body-md);
            color: var(--text-heading);
        }
    }
}

main {
    background-color: var(--shape-body);

    overflow: auto;
    scrollbar-width: none;
    padding: 5rem 8.125rem;

    & .legend-wrapper {
        display: flex;
        align-items: center;
        gap: .75rem;

        & img {
            align-self: first baseline;
        }

    }

    & h1 {
        font: var(--heading-md);
        color: var(--text-heading);
    }
}